.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}
.body{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.card{
  grid-column-start: 2;
  border: 1px solid black;
  border-radius: 30px;
  padding:40px;
  box-shadow: 1px 1px 7px black;
}
span{
  display:block;
}
.next{
  margin:10px;
  display: inline-block;
}
.faded-text{
  color: slategray;
  font-size: smaller;
}