/* -------------------Structure------------------------ */
.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}


.body{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.card{
  grid-column-start: 2;
  border: 1px solid black;
  border-radius: 30px;
  padding:40px;
  box-shadow: 1px 1px 7px black;
}
textarea{
  padding: 10px;
}
/* -------------------END Structure------------------- */

/* -------------------Text---------------------------- */
span{
  display:block;
}
h4 {
  font-style: italic;
}
.faded-text{
  color: slategray;
  font-size: smaller;
}
.answer{
  /* display: inline-block; */
  float: right;
}
/* -------------------END Text----------------------- */
/* -------------------Buttons------------------------ */
button{
  border-radius: 7px;
}
button:hover{
  filter: brightness(0.75);
  transition: 0.2s;
}
.next{
  margin:10px;
  display: block;
  float: right;
  padding: 3px 15px;
}
.restart-button{
  background-color: #3cff2a;
  margin: 5px 10px
}
.home-button{
  margin: 5px 10px;
  background-color: #ff2525;
}
/* -------------------END Buttons------------------- */